.crs-course-title {
  height: 45px;
  background-color: #f4f5f7;
  border-radius: 5px;
  border: none;
  padding-left: 1rem;
}
.crs-course-des {
  height: 100px;
  background-color: #f4f5f7;
  border-radius: 5px;
  border: none;
  padding-left: 1rem;
  padding-top: 0.6rem;
}
.course-select-input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #f4f5f7;
  padding-left: 1rem;
}
.crs-upload-input-span{
    background-color: #f4f5f7;
    min-width: 20%;
}
.crs-Thumnail-image {
  width: 26rem;
  height: 12rem;
  border-radius: 8px;
  margin-top: 5px;
  object-fit: cover;
}
.crs-cancel-btn {
  background-color: white;
  border: 2px solid #1da1f2;
  width: 6rem;
  border-radius: 5px;
  color: #1da1f2;
  padding: 3px 0 3px 0;
}
.crs-done-btn {
  background-color: #1da1f2;
  border: 2px solid #1da1f2;
  width: 7rem;
  border-radius: 5px;
  color: white;
  padding: 3px 0 3px 0;
}
.crs-curr-top {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.crs-curr-edit-btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  height: 2rem;
  width: 5rem;
}
.crs-curr-remove-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  height: 2rem;
  /* width: 7rem; */
}
.crs-new-title {
  background-color: #f4f5f7;
  width: 87%;
  border-radius: 5px;
  border: none;
  margin-left: 1rem;
  height: 45px;
}
.pricing-sel {
  color: #1da1f2;
  width: 5rem;
  border: 2px solid #1da1f2;
  border-radius: 5px;
  height: 45px;
  
}
.pricing-inp {
  background-color: #f4f5f7;
  border: none;
  padding-left: 1rem;
  width: 30%;
  height: 45px;
  border-radius: 5px;
  margin: 0 15px 0 15px;
}
.pricing-save-btn {
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 5px;
  min-width: 6rem;
  height: 2.7rem;
}
.pricing-text-area{
    background-color: #f4f5f7;
    width: 95%;
    border: none;
    padding-left: 1rem;
    min-height: 7rem;
    border-radius: 5px;
    padding-top: 0.7rem;
}